
body{
    background: #ECF5FA;
    color: #FFFFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Боковая панель*/

aside{
    float: left;
    background-color: #C9E7FF;
    padding: 2.5%;
    height: 180vh;
    width: 20%;
    color: #040A44;
/* border-right: 5px solid #6B5DF5; */
    
}
/*Логотип в боковой панели*/
aside img{
    width: 58px;
    float: left;
    height: auto;
}
/*Автор*/
aside .logo{
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    bottom: -18px;
}
/*Навигация*/
aside h3{
    margin-top: 50px;
    font-size: 25px;
}


/*Список*/
aside ul{
    list-style: none;
    margin-top: 50px;
    padding: 0;

}



/*Список*/
aside ul li{
    display: block;
    color: #040A44 ;
    margin-top: 20px;
    transition: transform .6s ease;
    position: relative;
    left: 22px;
    
}
/*Список*/
aside ul li :hover, aside ul a :hover{
    color: #FFFFFF;
    transform: scale(1.05);

}
/*Список*/
aside ul a{
    text-decoration: none;
}
/*Основная область*/
main .features{
    float: left;
    color: #040A44 ;
    margin-top: 10px;
    text-align: center;
    width: 75%;
}

main .features h1 {
    font-size: 45px;
}

main .features p {
    max-width: 800px;
    margin:20px auto ;
}



.features .btn{
    background: #1437B1;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
    line-height: 24px;
    vertical-align: top;
    font-size: 18px;
    text-align: center;
}

.features .btn:hover{
    background: #040A44;
    color: #FFFFFF;
}

.alert-warning{
    float: left;
    clear: both;
    width: 370px;
    margin: 20px 34%;
    text-align: left;
}
.features .alert{
    background: #92B9EE;
    color: #FFFFFF;
    border: none;
    outline: none;
    align-items: center;
}

form{
    margin-left: 28%;
    width: 500px;
    margin-top: 25px;

}



.features .form-control{
    width: 100%;
    padding: 10px;
    border: 1px solid #040A44;
    border-radius: 4px;
}

.features .form-control::placeholder{
    color: #040A44;
}

/* Удалить статью*/
.features .btn-danger{
    background: red;
}
/* Редактировать статью*/
.features .btn-info{
    background: green;
}

aside .btn{
    background: #040A44;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
}
/* текст статьи */
p{
    font-size: 16px;
    text-align: start;
    line-height: 1.5;
}

h2{
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Контакты страница */
/* .footer-connection{
    border: 1px solid red;
} */

.footer-connection {
    padding: 0;
    margin: 15px;

 }
   
.footer-connection h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
   
.footer-connection ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
   
.footer-connection li {
    margin-bottom: 5px;
    text-align: left;
    position: relative;
    left: 436px;

}

.footer-connection  a {
    text-decoration: none;
    color: #040A44;
}