{% extends "main/layout.html"%}


{%block title%}
Контакты
{%endblock%}


{%block content%}
<div class="features">
    <h1>Контакты</h1>
    <div class="footer-connection">
        <h3>Связаться с автором:</h3>
        <ul>
            <a href="https://github.com/Opex128/django-website-2.git"><li><i class="fa-brands fa-github"></i> GITHUB</li></a>
            <a href=""><li><i class="fa-solid fa-paper-plane"></i> TELEGRAM</li></a>
            <li><i class="fa-solid fa-envelope"></i> anabelikova9@gmail.com</li>

        </ul>
      </div>
    <a href="{%url 'home'%}"><buttton class="btn btn-">Перейти на главную</buttton></a>
 </div>
{%endblock%}