{% extends "main/layout.html"%}


{%block title%}{{title}}{%endblock%}


{%block content%}
 <div class="features">
    <h1>{{title}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad pariatur omnis accusantium sunt in sapiente quisquam provident. Fugit optio voluptatem, ipsum, natus doloremque quas rerum amet, quis et dolore nostrum!</p>
    <a href="{% url 'news_home'%}"><buttton class="btn btn-warning"> Новости</buttton></a>
    {% for el in values%}
        {% if el == 'Hello'%}
    
        <p>{{el|upper}}</p>
        <!-- {%filter upper%} -->
        <!-- {%endfilter%} -->
        {% endif%}
    {% endfor%}
 </div>
{%endblock%}