{% extends "main/layout.html"%}


{%block title%}{{title}}{%endblock%}


{%block content%}
 <div class="features">
    <!-- <h1>{{title}}</h1> -->
    <h1>Новости графического дизайна</h1>
<p>Здесь вы найдете всю информацию о графическом дизайне и его последних тенденциях. <br> Мы предоставляем свежие новости, статьи и аналитические материалы, которые помогут вам узнать больше о мире графического дизайна и его возможностях.</p>
    <a href="{% url 'news_home'%}"><buttton class="btn btn-warning"> Читать</buttton></a>
    {% for el in values%}
        {% if el == 'Hello'%}
    
        <p>{{el|upper}}</p>
        <!-- {%filter upper%} -->
        <!-- {%endfilter%} -->
        {% endif%}
    {% endfor%}
 </div>
{%endblock%}